<% if (typeof feedBack !== 'undefined') { %>
<div
	class="text-center alert <%= ` alert-${feedBack.status}` %>"
	role="alert"
	data-mdb-color="<%= feedBack.status %>"
>
	<p><%= feedBack.message %></p>
</div>
<% } %>
