<%- include('header') %>

<body cz-shortcut-listen="true">
  <header>
    <%- include('navbar') %>
  </header>
  <main>
    <div class="greets d-flex">



      <% greets.forEach(greet=> { %>
      <%- include('greet', {greet}) %>
      <% }) %>


    </div>
  </main>

  <%- include('footer') %>

</body>

</html>