<% if (typeof feedBack !== 'undefined') { %>
<div
	id="feedback"
	class="text-center feedback alert<%= ` alert-${feedBack.status}` %>"
	role="alert"
	data-mdb-color="<%= feedBack.status %>"
>
	<p><%= feedBack.message %></p>
</div>
<% } %>
