<footer class="navbar navbar-expand-mdg navbar-light fixed-bottom bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/greeter_logo_g.svg" alt="greeter">
        </a>
        <span class="text-muted">Webuni - NodeJS fejlesztő alapképzés - vizsgamunka</span>
        <div class="navbar-right">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://tothadi.hu" target="blank">&copy; tothadi</a>
                </li>
            </ul>
        </div>
    </div>
</footer>