<div class="card" style="width: 18rem;">
    <% greet.pics.forEach(pic => { %>
        <img src="<%- pic %> " class="card-img-top" alt="greetkép">
    <% }) %>
    <div class="card-body">
        <a href="<%- user.username %> "></a>
      <p class="card-text">
          <%- greet.text %> 
      </p>
      <!-- Kommentek, like, stb. -->
    </div>
  </div>