<!-- Navbar -->
<nav id="top-nav" class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="d-flex container-xxl container-fluid align-items-center">
    

    <% if (typeof userIn !== 'undefined') { %>
      <div class="collapse navbar-collapse" id="menu-center">
      <ul class="justify-content-center align-items-center navbar-nav" id="selectFeed">
        <li class="nav-item">
          <a class="nav-link" href="/feed/followed" id="followed"><i class="fas fa-lock"></i> Követett felhasználók</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feed/public" id="public"><i class="fas fa-lock-open"></i> Összes greet</a>
        </li>
      </ul>
      <% if (userIn.role === 'user') { %>
        <p class="nav-link" style="justify-self: flex-end;" id="greetingText">
          Üdv újra itt, <strong> <%= userIn.firstname %></strong>!
        </p>
        <% } %>
      </div>
      <%}%>
    
    

    <div id="menu-left">
      <a class="navbar-brand" href="/">
        <img src="/greeter_logo_full.svg" height="32" alt="" loading="lazy" />
      </a>

      <form class="d-flex input-group w-auto align-content-center" method="POST" action="/search">
        <input type="search" name="searchtext" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </form>
    </div>




    <div id="menu-right" class="d-flex align-items-center">
      <% if (typeof userIn !== 'undefined') { %>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#menu-center" aria-controls="menu-center" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <% } %>
      <%- include('menu-right') %>
    </div>
  </div>

</nav>