/****************/
/* Greet styles */
/****************/

.greets {
	width: 100%;
	flex-direction: column;
	align-items: center;
}

/*** New greet ***/
/*               */
.new-greet {
	width: 90%;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-body .new-greet {
	width: 100%;
}

#new-greet-text, .edit-greet-text {
	width: 100%;
}

#new-greet-controls, .edit-greet-controls {
	width: 100%;
	flex-direction: column;
	align-content: center;
}

.new-greet .form-check {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#new-add-pics, .edit-add-pics {
	justify-content: center;
	display: flex;
}

#new-add-pics label,
#new-save-greet,
.edit-add-pics label,
.edit-save-greet {
	width: 200px;
}

#new-thumbs, .edit-thumbs {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	overflow: overlay;
}

#new-thumbs.mb-4, .edit-thumbs.mb-4 {
	border-bottom: thin solid rgba(200, 200, 200, 0.4);
}

.thumb {
	object-fit: cover; /* Do not scale the image */
	object-position: center; /* Center the image within the element */
	width: 100px;
	justify-content: center;
	height: 100px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
}

#new-thumbs:last-child, .edit-thumbs:last-child {
	margin-right: 0;
}

.thumb-wrap {
	position: relative;
}

.badge {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white !important;
	right: 5px;
	bottom: 5px;
	font-size: 15px;
	width: 25px;
	height: 25px;
}

/*** Greets in list ***/
/*                    */
.greet {
	position: relative;
	width: 90%;
	margin-top: 30px;
	max-width: 800px;
	border-radius: 6px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.greet:first-of-type {
	margin-top: 0;
}

.greet:last-of-type {
	margin-bottom: 30;
}

.card-header, .card-footer {
	padding: .5rem 0;
	margin: .5rem 1rem;
	margin-bottom: 0;
	margin-top: 0;
}

.greet-row-right {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.greet-params i, .greet-control i {
	line-height: 1.6;
	margin-right: 12px;
}

.greet-date, .comment-date {
	margin: 0;
}

.author-name p {
	margin: 0;
	margin-left: 12px;
	margin-right: 12px;
}

.greet .avatar {
	width: 48px;
	height: 48px;
}

.avatar:hover {
	transform: scale(1.2);
}

.greet-header-right button {
	margin-left: 12px;
}

.regreet {
	margin-right: 12px;
}

.regreet-title {
	margin-top: 24px;
}

.card-text {
	padding: 10px;
	border-radius: 5px;
	background-color: #363636;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
}

/*** Greet images ***/
/*                  */
.carousel {
    transition: all 400ms ease-in-out;
}

.carousel-inner p {
    text-align: center;
    margin: 0;
}

.carousel-item {
    cursor: zoom-in;
}

.carousel-item img {
    object-fit: contain;
	object-position: center;
    height: 400px;
    max-width: 100%;
}

.carousel-full {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10000;
}

.carousel-full .carousel-inner {
    height: 100%;
}

.carousel-full .carousel-item {
    height: 100%;
    width: 100%;
    cursor:unset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-full .carousel-item img {
    object-fit: contain;
	object-position: center;
    height: unset;
    width: unset;
    max-height: 80%;
    max-width: 80%;
}

.carousel-full .carousel-control-prev {
	width: unset;
	left: 5px;
}
.carousel-full .carousel-control-next {
	width: unset;
	right: 5px;
}

.close-fullscreen {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.7rem;
    color: rgba(130, 130, 130);
    z-index: 10001;
}

.close-fullscreen:hover {
    color: whitesmoke;
}


/*** Greet footer ***/
/*                  */
.greet .card-footer, .likes, .comment-control {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.greet .card-footer {
	justify-content: space-between;
}

.greet .card-footer button, .comment-control {
	font-size: 20px;
}


.card-footer p {
	height: 100%;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
}


/*** Comments ***/
/*              */

.comments-wrapper {
	position: relative;
	width: 100%;
	border-radius: 6px;
	padding-top: 16px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	overflow: auto;
}

.comment {
	margin-top: 16px;
}

.comment:first-of-type {
	margin-top: 0;
}

.comment-header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

.comment-header .avatar {
	width: 24px;
	height: 24px;
}