* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height: 100%;
  width: 100%;
  max-width: 1360px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom page CSS
  -------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


/*
 * Navbar styles
 */
.navbar-brand {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header-logo {
  height: 2rem;
  filter: invert();
}

.navbar-collapse {
  justify-content: space-between;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-item p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.nav-item strong {
  margin-left: 5px;
}

.nav-item img {
  height: 2rem;
}



/*
 * Main Styles
 */
main {
  height: 100%;
  width: 100%;
  padding-top: 15px;
}

.greets {
  flex-direction: column;
  align-items: center;
}
 
.greet {
  width: 90%;
  margin-bottom: 30px;
  max-width: 800px;
  border-radius: 6px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.3);
}

.card-text {
  padding: 10px;
  border-radius: 5px;
  background-color: #363636;
  box-shadow: 3px 3px 7px rgba(0,0,0,.1);
}

.likes p {
  line-height: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

/*
 * Footer styles
 */

footer img {
  height: 2rem;
  margin-right: 1rem;
}