* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
	user-select: none;
}

p,
h1,
h2,
h3,
h4,
img {
	pointer-events: none;
	cursor: not-allowed;
}

a {
	text-decoration: none;
	cursor: pointer;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}
body {
	/* Margin bottom by footer height */
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 1360px;
}

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar-thumb {
	background: rgba(200, 200, 200, 0.2);
	border-radius: 5px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
	padding-right: 15px;
	padding-left: 15px;
}

/*
 * Navbar styles
 */

.navbar-collapse {
	justify-content: space-between;
}

nav i {
	font-size: 20px;
}

nav .show form {
	margin-top: 15px;
	margin-bottom: 15px;
}

.navbar-nav {
	padding: 16px;
}

.nav-link {
	padding: 8px;
}

.nav-link.active {
	background-color: #363636;
	padding: 8px;
	border-radius: 5px;
}

#greeting {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	color: whitesmoke;
}

#greeting strong {
	margin-left: 5px;
	color: white;
}

#notifications {
	position: relative;
}

#notifications .badge {
	z-index: 10;
}

.dropdown-menu[data-mdb-popper] {
	position: absolute;
	right: 0;
	left: unset;
}

/*
 * Form styles
 */

.form-outline .form-control {
	border-radius: 0;
	border-bottom: 1px solid;
}

.text-center p {
	cursor: unset;
}

.text-center p a {
	pointer-events: all;
}

.alert p {
	margin: 0;
}

/*
 * Main Styles
 */
main {
	position: absolute;
	height: 100%;
	width: 100%;
	padding-top: 15px;
	overflow: overlay;
}

.container {
	margin-bottom: 24px;
	width: 90%;
	max-width: 800px;
	flex-direction: column;
}

#main-logo {
	width: 90%;
	margin-bottom: 24px;
	margin-top: 24px;
	filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.8));
}

.intro {
	width: 100%;
	margin: 0;
	text-align: center;
}

.intro a {
	pointer-events: all;
	cursor: pointer;
}

.greets {
	flex-direction: column;
	align-items: center;
}

.new-greet {
	width: 90%;
	max-width: 800px;
}

.greet {
	width: 90%;
	margin-bottom: 30px;
	max-width: 800px;
	border-radius: 6px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}



.greet-header {
	height: 48px;
	margin-bottom: 18px;
}

.greet-params i {
	line-height: 1.6;
	margin-right: 12px;
}

.greet-date {
	margin: 0;
}

.author-name p {
	margin: 0;
	margin-left: 12px;
}

.avatar {
	object-fit: cover; /* Do not scale the image */
	object-position: center; /* Center the image within the element */
	width: 36px;
	max-height: 36px;
	pointer-events: all;
	cursor: pointer;
	transition: all 500ms ease-in-out;
}

.avatar:hover {
	transform: scale(1.2);
}

.card-text {
	padding: 10px;
	border-radius: 5px;
	background-color: #363636;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
}

.likes p {
	line-height: 1.5rem;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	margin-left: 12px;
}

.likes button {
	font-size: 20px;
}



/*
 * Profile Styles
 */

.profile-card  {
	max-width: 800px;
	border-radius: 6px;
}

.card-title {
	margin: 0;
}

.card-body, .card-footer {
	flex-direction: column;
}

.profile-card .card-text {
	width: 90%;
}

.profile-avatar {
	border-radius: 6px;
	width: 90%;
	height: 90%;
	object-fit: cover; /* Do not scale the image */
	object-position: center;
}

.col-md-4 {
	position: relative;
}

.pic-control {
	position: absolute;
	bottom: 7.5%;
	right: 7.5%;
}


/*
 * Footer styles
 */

footer img {
	height: 2rem;
	margin-right: 1rem;
}
