<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Profilkép törlése</h5>
        </div>
        <div class="modal-body">
          <form method="POST" action="/profile/del-avatar">
  
            <div class="text-center">
                <p>Biztosan törölni szeretnéd?</p>
              </div>
  
            <button type="submit" class="btn btn-danger btn-block mb-4">Törlöm</button>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Mégse</button>
        </div>
      </div>
    </div>
  </div>