<div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="modifyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modifyModalLabel">Profilkép hozzáadása/lecserélése</h5>
      </div>
      <div class="modal-body">
        <form method="POST" action="/profile/set-avatar" enctype="multipart/form-data" class="text-center">
          <div class="form-outline mb-4">
            <label class="form-label" for="avatarInput">Fájl kiválasztása</label>
            <input type="file" name="avatar" class="from-control" id="avatarInput" />
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-4">Feltöltés</button>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Mégse</button>
      </div>
    </div>
  </div>
</div>