<div class="modal fade" id="newPWModal" tabindex="-1" aria-labelledby="newPWModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newPWModalLabel"><%= typeof userIn === 'undefined' ? 'Elfelejtett jelszó' : 'Jelszó módosítás' %></h5>
      </div>
      <div class="modal-body">
        <form method="POST" action="/new-pw" class="text-center">
          <div class="form-outline mb-4">
            <input type="password" class="form-control" autocomplete="off" name="password" id="password" placeholder="Add meg a jelszavad!">
            <label for="password" required class="form-label">Jelszó</label>
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-4">Jelszó módosítása</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Mégse</button>
      </div>
    </div>
  </div>
</div>