<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="signinModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signinModalLabel">Bejelentkezés</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/sign-in" method="POST">


          <div class="form-outline mb-4">
            <input type="text" required autocomplete="off" class="form-control" name="username" id="username" placeholder="Add meg a felhasználóneved/email-címed!">
            <label for="username" class="form-label">Email-cím/felhasználónév</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" class="form-control" autocomplete="off" name="password" id="password" placeholder="Add meg a jelszavad!">
            <label for="password" required class="form-label">Jelszó</label>
          </div>

          <!-- 2 column grid layout for inline styling -->
          <div class="row mb-4">
            <div class="text-center">
              <!-- Simple link -->
              <a data-mdb-dismiss="modal" data-mdb-toggle="modal" data-mdb-target="#lostpwModal">Elfelejtetted a jelszavad?</a>
            </div>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Bejelentkezés</button>

          <!-- Register buttons -->
          <div class="text-center">
            <p>Még nem vagy a felhasználónk? <a data-mdb-dismiss="modal" data-mdb-toggle="modal" data-mdb-target="#signupModal">Regisztrálj!</a></p>
          </div>

        </form>
        <% if (typeof userError !== 'undefined' && typeof userError.signInError !== 'undefined') { %>
        <div class="text-center alert alert-danger" role="alert" data-mdb-color="danger">
          <p>
            <%= userError.signInError %>
          </p>
        </div>
        <% } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Mégse</button>
      </div>
    </div>
  </div>
</div>