<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">Regisztráció</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/sign-up" method="POST">

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input autocomplete="off" type="email" id="regEmail" required name="regEmail" class="form-control" />
            <label class="form-label" for="regEmail">Email-cím</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="regPassword" required name="regPassword" class="form-control" />
            <label class="form-label" for="regPassword">Jelszó</label>
          </div>

          <div class="form-check form-switch d-flex justify-content-center mb-4">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" data-mdb-toggle="collapse" data-mdb-target="#additional" aria-expanded="false" aria-controls="additional" />
            <label class="form-check-label" for="flexSwitchCheckDefault">Szeretnék greetelni is!</label>
          </div>

          <div class="collapse" id="additional">
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input autocomplete="off" type="text" id="regFirstname" name="regFirstname" class="form-control" />
                  <label class="form-label" for="regFirstname">Keresztnév</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input autocomplete="off" type="text" id="regLastname" name="regLastname" class="form-control" />
                  <label class="form-label" for="regLastname">Vezetéknév</label>
                </div>
              </div>
            </div>

            <div class="form-outline mb-4">
              <input autocomplete="off" type="text" id="regUsername" name="regUsername" class="form-control" />
              <label class="form-label" for="regUsername">Felhasználónév</label>
            </div>
          </div>

          <!-- Checkbox -->
          <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="conditions" required />
            <label class="form-check-label" for="conditions">
              Elfogadom a <a href="#">felhasználási feltételeket</a>.
            </label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-block mb-4">Regisztráció</button>

          <!-- Register buttons -->
          <div class="text-center">
            <p>Már regisztráltál? <a data-mdb-dismiss="modal" data-mdb-toggle="modal" data-mdb-target="#signinModal">Lépj be!</a></p>
          </div>

        </form>
        <% if (typeof userError !== 'undefined' && typeof userError.signUpError !== 'undefined') { %>
          <div class="text-center alert alert-danger" role="alert" data-mdb-color="danger">
            <p>
              <%= userError.signUpError %>
            </p>
          </div>
          <% } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>