<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="signinModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signinModalLabel">Bejelentkezés</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="/sign-in">
                <div class="modal-body">

                    <div class="mb-3">
                        <label for="username" class="form-label">Email-cím/felhasználónév</label>
                        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Írd ide a felhasználóneved vagy jelszavad!">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Jelszó</label>
                        <input type="password" class="form-control" id="password">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Bejelentkezés</button>
                </div>
            </form>
        </div>
    </div>
</div>