<form action="/greet/new" method="POST" class="new-greet">
  <div class="form-outline mb-4">
    <i class="fas fa-edit trailing"></i>
    <textarea type="text" required autocomplete="off" class="form-control" name="text" id="text" aria-describedby="emailHelp" placeholder="Írd ide a greet szövegét!" data-mdb-toggle="collapse" data-mdb-target="#new-greet" aria-expanded="false" aria-controls="new-greet"></textarea>
    <label for="text" class="form-label">Új greet...</label>
  </div>
  <div class="collapse text-center" id="new-greet">
    <button type="submit" class="btn btn-primary btn-lg mb-4">Greet</button>
  </div>

</form>
<% greets.forEach(greet=> { %>
<%- include('greet', {greet}) %>
<% }) %>